absl-py==0.7.1
alembic==1.0.11
altgraph==0.16.1
aniso8601==7.0.0
asn1crypto==0.24.0
astor==0.8.0
attrs==19.1.0
Automat==0.7.0
docutils==0.14
Flask==1.1.1
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
mysql-connector-python==8.0.16
PyMySQL==0.9.3
pyOpenSSL==19.0.0
